* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    background: #c9adad;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
  }
  
  .show {
    border: 0;
    height: 60px;
    width: 100%;
    outline: 0;
  }
  
  .calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 10px rgb(15, 66, 218), 8px 8px 10px rgb(100, 6, 58);
    background: transparent;
    margin: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  .calculator form input:hover {
    box-shadow: -8px -8px 10px rgb(20, 193, 20), 8px 8px 10px rgb(6, 191, 102);
   
  }
  .calculator .equal {
    width: 140px;
  }
  .calculator .show {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }
  .calculator .show input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
  }
  .calculator .show input:hover {
    box-shadow: none;
  }